# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
*.env

# Python build and packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.swp

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest cache
.cache/

# Pycharm
.idea/

# Logs
*.log

# Database
*.sqlite3

# Coverage reports
.coverage
*.coveragerc
coverage.xml
nosetests.xml
test_*.xml

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# VS Code
.vscode/
